
$base-font-size: 15px;
$base-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$base-font-color: #333;

$primary-color: #333;   /*  #00aff0;    */
$secondary-color: #E99A12;     /*    #7fba00;    */
$light-color: #eee;      /* #e4eef2; */
$dark-color: #333;   /* #333; */
$fa-primary: #099DD3;
$fa-secondary: $secondary-color;


$showcase-height: 400px;
$showcase-img: showcase;
$featured-block-img: blocks;

// for media
$h-main-size: 18px;
$h-secondary-size: 15px;
$p-main-size: 12px;


