

.blog-post {
    padding: 12px;
    overflow: hidden;

    @include border(2px, #ddd, all);
    @include background-color(#f9f9f9);

    .blog-featured {
        float: left;
        margin: 0 18px 9px 5px;
    }
}

.post-meta {
    padding: 10px;
    margin-bottom: 20px;
   @include background-color(#ddd);

   > span {
       margin-left: 20px;
   }
}
