
.carousel {
    margin-bottom: 30px;
    
    img {
        padding: 2px;
        @include border(2px, $light-color, all);
    }
}

.tab-primary .nav-tabs>li.active>a, .tab-primary .nav-tabs>li.active>a:hover, .tab-primary .nav-tabs>li.active>a:focus {
    @include background-color($light-color);
}

.tab-primary .tab-content .tab-pane {
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include background-color($light-color);    
}